<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Snappy Snips Hair Salon</title>
  </head>
  <body>
    <div class="container">
      @RenderBody()
      @Html.Partial("sidebar")
    </div>
  </body>
</html>
