<div id="sidebar">
  <div>
    <a href="/" class="">Home</a>
  </div>
  <div>
    <a href="/stylists" class="">List of Stylist</a>
  </div>
  <div>
    <a href="/clients" class="">List of Clients</a>
  </div>
  <div>
    <a href="/specialties" class="">List of Specialties</a>
  </div>
  <div>
    <a href="/specialties/search" class="">Search Specialties</a>
  </div>
</div>
