<h1>@Model.GetName()'s Detail Page</h1>

<form class="" action="/stylists/@Model.GetId()/changename" method="post">
  <label for="newName">Edit Stylist Name:</label>
  <input type="text" name="newName" required>
  <button type="submit" name="button">Edit</button>
</form>

<h3>Client List:</h3>

<ul>
  @foreach(var client in Model.GetClients())
  {
    <form class="" action="/stylists/@Model.GetId()/deleteclient" method="post">
      <input type="text" name="clientId" value="@client.GetId()" hidden>
      <li>@client.GetName() <button type="submit" class="">DELETE</button></li>
    </form>
  }
</ul>

<h3>Add a New Client</h3>
<form action="/stylists/@Model.GetId()/addclient" method="post">
  <div class="">
    <label for="clientName">Client Name:</label>
    <input type="text" name="clientName" required>
  </div>
  <button type="submit" class="">ADD</button>
</form>

<form class="" action="/stylists/delete" method="post">
  <input type="text" name="stylistId" value="@Model.GetId()" hidden>
  <button type="submit" class="">DELETE THIS STYLISH RECORD</button>
</form>

<h3><a href="/stylists">List of Stylists</a></h3>
<h3><a href="/">Home</a></h3>
