<h1>List of Stylists</h1>
<ul>
  @foreach(var stylist in Model)
  {
    <form class="" action="/stylists/delete" method="post">
      <input type="number" name="stylistId" value="@stylist.GetId()" hidden>
      <li><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a> <button type="submit" name="button">Delete</button></li>
    </form>
  }
</ul>

<h3><a href="/">Home</a></h3>
<h3><a href="/stylists/new">Add a Stylists</a></h3>
