@{
  Layout = "_Layout";
}

<h1>Add a Stylist</h1>
<form action="/stylists/new" method="post">
  <div class="">
    <label for="name">Name of Stylist:</label>
    <input type="text" name="name" required>
    <button type="submit" class="">ADD</button>
  </div>

</form>

<h3><a href="/">Home</a></h3>
