<h1>Add a Specialty</h1>

<form class="" action="/specialties/new" method="post">
  <div class="">
    <label for="">Specialty Name:</label>
    <input type="text" name="specialtyName"required>
  </div>

  <button type="submit" name="button">Add Specialty</button>
</form>

<h3> <a href="/">Home</a> </h3>
