@{
  Layout = "_Layout";
}

<h1>Add a Specialty</h1>

<form class="" action="/specialties/new" method="post">
  <div class="">
    <label for="">Specialty Name:</label>
    <input type="text" name="specialtyName"required>
    <button type="submit" name="button">Add Specialty</button>
  </div>


</form>

<h3> <a href="/">Home</a> </h3>
