@{
  Layout = "_Layout";
}

<h1>Search for a specialty</h1>

<form class="" action="/specialties/search" method="post">
  <div class="">
    <label for="">Enter name of specialty:</label>
    <input type="text" name="searchName" required>
    <button type="submit" class="">SEARCH</button>
  </div>

</form>
