@{
  Layout = "_Layout";
}

<h1>Welcome to Snappy Snips Hair Salon</h1>

<h3><a href="/stylists">List of Stylists</a></h3>
<h3><a href="/stylists/new">Add a New Stylists</a></h3>
<h3><a href="/clients">List of Clients</a></h3>
<h3><a href="/clients/new">Add a New Clients</a></h3>
<h3><a href="/specialties">List of Specialties</a></h3>
<h3><a href="/specialties/new">Add a New Specialties</a></h3>
