@{
  Layout = "_Layout";
}

<h1>List of Clients</h1>
<ul>
  @foreach(var client in Model)
  {
    <form class="" action="/clients/delete" method="post">
      <input type="text" name="clientId" value="@client.GetId()" hidden>
    <li><a href="/clients/@client.GetId()">@client.GetName()</a>; Stylist: @client.GetStylist().GetName() <button type="submit" class="btn btn-danger">DELETE</button></li>
  </form>
  }
</ul>

<h3><a href="/">Home</a></h3>
<h3><a href="/clients/new">Add a Client</a></h3>
